sparkles::before{

    content:"✨ ✨ ✨ ✨ ✨ ✨ ✨ ✨";

    position:absolute;

    width:120%;

    left:-10%;

    top:-20%;

    font-size:28px;

    opacity:.35;

    animation:sparkle 18s linear infinite;

}

.
        transform:translateY(-100px);

    }

    to{

        transform:translateY(120vh);

    }

}

@keyframes petals{

    from{

        transform:translateY(-120px) rotate(0deg);

    }

    to{

        transform:translateY(120vh) rotate(360deg);

    }

}

@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-10px);

    }

    100%{

        transform:translateY(0);

    }

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@media(max-width:7
